body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
}

h2 {
    font-size: 1.3em;
    font-family: 'SF Pro Bold', monospace;
    text-decoration: none;
    user-select: none;
    background: no-repeat;
}

h3 {
    font-size: 0.9em;
    font-family: 'SF Pro Light', monospace;
    text-decoration: none;
    user-select: none;
    background: no-repeat;
}

p {
    font-size: 0.75em;
    font-family: 'SF Pro Light', monospace;
    text-decoration: none;
    user-select: none;
    background: no-repeat;
}

/* Menu */

.menu {
    position: fixed;
    background-color: #ffffff;
    width: 4.5em;
    height: calc(100vh - 2em);
    float: left;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 0.15em solid rgba(115, 115, 115, 0.5);
}

.menu img {
    margin-top: 0.1em;
    width: 2em;
    filter: invert(0);
}

.block img {
    width: 1.75em;
    filter: invert(1);
}

.submenu {
    width: 4em;
    height: 4em;
    margin: 0.75em;
}

.submenu:hover img {
    filter: invert(1);
    transition-duration: 0.3s;
}

.submenu:hover {
    border-radius: 50%;
    background-color: rgb(34 34 34);
    width: 4em;
    height: 4em;
    margin: 0.75em;
    transition-duration: 0.3s;
}

.search {
    display: block;
    height: auto;
    width: 100%;
    min-width: 9em;
    margin: 2em 2em;
    padding: 10px;
    border: 1px solid #686868;
    border-radius: 0.5em;
}

.search input {
    width: 100%;
    font-size: 1em;
    height: 2em;
    padding: 0 0.5em;
    background-color: #ffffff  !important;
    border: 1px solid #686868;
    border-radius: 0.4em;
}

.search button {
    padding: 0;
    height: 1.8em;
    width: 1.8em;
    position: absolute;
    top: 0.35em;
    right: 0.75em;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.search form {
    position: relative;
    margin: 0 auto;
}

.search img {
    width: 1.5em;
    padding: 0.1em;
    filter: invert(0);
}

.content_wrapper {
    float: right;
    width: calc(calc(100% - 14em) - 0.5em);
    margin: 0 5em;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 60em;
    min-width: 9em;
    height: fit-content;
    margin: 0 auto;
}

.block {
    position: relative;
    display: block;
    width: 100%;
    margin: 1em;
    padding: 0.8em;
    border: 0.1em solid #d8dee4;
    border-radius: 1em;
    background-color: #f6f8fa;
}

.block h2, h3, p {
    margin: 0 0 0.2em 0;
}

/* Block Main Note */
.block_note {
    height: 9em;
    width: 9em;
    min-width: 9em;
    background-color: azure;
}

.block_note img {
    filter: invert(0);
}

.block_note:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);    transition-duration: 0.3s;
}

/* Block B */

.block_b {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    bottom: 0.5em;
    position: absolute;
    width: inherit;
}

.button {
    padding: 10px;
    color: #d0d7de;
    background: none;
    border-radius: 6px;
    border: 1px solid #627597;
    text-decoration: none;
}

.button:hover {
    background-color: #464646;
    transition-duration: 0.3s;
}

/* Main */

.note_date {
    margin: 0.5em 0;
    width: fit-content;
    height: fit-content;
}

/* New Note */

.block_c input, textarea {
    width: calc(100% - 1em);
    font-size: 1em;
    height: 2em;
    padding: 0 0.5em;
    background-color: #ffffff  !important;
    border: 1px solid #d8dee4;
    border-radius: 0.4em;
}
