body {
    margin: 0;
    padding: 0;
    background-color: #494848;
}

button {
    border: none;
    outline: none;
}

.menu {
    position: fixed;
    background-color: #222222;
    width: 4.5em;
    height: calc(100vh - 2em);
    float: left;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu img {
    margin: 1.25em;
    width: 2em;
    filter: invert(1);
}

.submenu {
    width: 100%;
    height: 5em;
}

.submenu:hover, .menu_logo:hover, .menu_logout:hover {
    filter: invert(0.35);
    transition-duration: 0.3s;
}

.content_wrapper {
    float: right;
    width: calc(calc(100% - 4em) - 0.5em);
}

.search {
    display: block;
    height: auto;
    width: 100%;
    margin: 2em 2em;
    padding: 10px;
    background-color: #222222;
    border: 1px solid #686868;
    border-radius: 0.4em;
}

.search input {
    width: calc(100% - 1.1em);
    font-size: 1em;
    height: 2em;
    padding: 0 0.5em;
    background-color: #222222 !important;
    border: 1px solid #686868;
    border-radius: 0.4em;
    color: white;
}

.search button {
    padding: 0;
    height: 1.8em;
    width: 1.8em;
    position: absolute;
    top: 0.4em  ;
    right: 0.75em;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.search form {
    position: relative;
    margin: 0 auto;
}

.search img {
    width: 1.5em;
    padding: 0.1em;
    filter: invert(1);
}

.content {
    display: flex;
    width: 45em;
    height: fit-content;
    margin: 0 auto;
}

.block {
    display: block;
    height: auto;
    width: 100%;
    margin: 1em 2em;
    padding: 2em;
    border: 1px solid #686868;
    border-radius: 0.4em;
    background-color: #222222;
}

.block h2, p {
    margin: 0 0 1em 0;
    color: white;
}

.button {
    padding: 10px;
    color: #d0d7de;
    background: none;
    border-radius: 6px;
    border: 1px solid #627597;
    text-decoration: none;
}

.button:hover {
    background-color: #464646;
    transition-duration: 0.3s;
}

/* New Note */

.block_c input, textarea {
    width: calc(100% - 1em);
    font-size: 1em;
    height: 2em;
    padding: 0 0.5em;
    background-color: #222222 !important;
    border: 1px solid #686868;
    border-radius: 0.4em;
    color: white;
}

.block_b {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.block_b {
    padding: 0 0.5em;
}