@keyframes change-background {
	0% {
		background: url("../../../../Downloads/1/photos/fon-1.jpg");
	}
	33% {
		background: url("../../../../Downloads/1/photos/fon-2.jpg");
	}
	67% {
		background: url("../../../../Downloads/1/photos/fon-3.jpg");
	}
	100% {
		background: url("../../../../Downloads/1/photos/fon-1.jpg");
	}
}

body {
	animation: change-background 12s ease infinite;
}