body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

@keyframes change-background {
    0% {
        background: url("../Photos/fon-1.jpg");
    }
    33% {
        background: url("../Photos/fon-2.jpg");
    }
    67% {
        background: url("../Photos/fon-3.jpg");
    }
    100% {
        background: url("../Photos/fon-1.jpg");
    }
}

:hover {
    transition-duration: 0.3s;
}

/* Button */

button {
    width: 4em;
    height: 4em;
    border: none;
    outline: none;
    background: none;
}

button:hover {
    border-radius: 50%;
    background-color: rgb(34 34 34);
}

button:hover img {
    filter: invert(1);
}

/* Input, Textarea */

input, textarea, select {
    width: -webkit-fill-available;
    resize: none;
    font-size: 1em;
    padding: 0.6em;
    background-color: #ffffff;
    border: 0.1em solid #d8dee4;
    border-radius: 0.7em;
}

/* Fonts */

h1, h2, h3, h4, h4, h6, p, a {
    margin: 0.1em 0;
    text-decoration: none;
}

h1 {
    width: 60em;
    min-width: 9em;
    margin: 0 1.3em;
    font-size: 1.6em;
    font-family: 'SF Pro Bold', monospace;
}

h2 {
    font-size: 1.3em;
    font-family: 'SF Pro Bold', monospace;
}

h3 {
    font-size: 0.9em;
    font-family: 'SF Pro Light', monospace;
}

p {
    font-size: 0.75em;
    font-family: 'SF Pro Light', monospace;
}

/* Menu */

.menu {
    float: left;
    position: fixed;
    width: 4.5em;
    height: calc(100vh - 2em);
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 0.15em solid rgba(115, 115, 115, 0.5);
}

.menu_left {
    float: left;
    left: 0;
    border-right: 0.15em solid rgba(115, 115, 115, 0.3);
}

.menu_right {
    float: right;
    right: 0;
    border-left: 0.15em solid rgba(115, 115, 115, 0.3);
}

.menu img {
    margin-top: 0.1em;
    width: 2.2em;
}

.menu button {
    margin: 0.75em;
}

.nav {
    float: left;
    left: 0;
    border-right: 0.15em solid rgba(115, 115, 115, 0.3);
}

.folders_m {
    display: block;
    float: right;
    right: 0;
    border-left: 0.15em solid rgba(115, 115, 115, 0.3);
    width: 15em
}

.folders {
    padding: 1em 0.75em;
}

.folders:hover {
    opacity: 0.5;
}

/* Content Wrapper */

.content_wrapper {
    position: absolute;
    width: calc(100% - 15em);
    margin: 0 10em;
}

/* Content */

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 60em;
    min-width: 9em;
    margin: 2em auto;
}

/* Search */

.search {
    width: 100%;
    min-width: 9em;
    margin: 0 2em;
}

.search form {
    position: relative;
}

.search button {
    padding: 0.2em;
    height: 2em;
    width: 2em;
    position: absolute;
    top: 0.6em;
    right: 0.6em;
    cursor: pointer;
}

.search img {
    width: 1.5em;
}

/* Sort */

.sort {
    display: flex;
    justify-content: space-between;
    padding: 1em 0 0;
}

.sort input, .sort select {
    width: 10em;
}

/* Block */

.block {
    position: relative;
    width: 100%;
    margin: 1em;
    padding: 0.8em;
    border: 0.1em solid #d8dee4;
    border-radius: 1em;
    background-color: #f6f8fa;
}

.block img {
    width: 1.75em;
}

.block_b {
    display: flex;
    justify-content: space-between;
}

.block_c {
    margin: 1em 0;
}

.block_q {
    background-color: #ffffff;
}

.block_q p {
    width: fit-content;
    margin: 0 auto;
}

/* Block Main Note */

.note {
    height: 11em;
    width: 11em;
    min-width: 9em;
}

.note:hover {
    box-shadow: 0 1em 2em rgba(0,0,0,0.25), 0 1em 1em rgba(0,0,0,0.22);
    cursor: pointer;
}

/* Main */

.note_text {
    height: 6em;
    margin: 0.5em 0;
}

.note_text h3 {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 6em;
}

.note_date {
    position: absolute;
    bottom: 0.2em;
    margin: 0.5em 0;
}

/* Login Logout Register */

.pass {
    position: absolute;
    top: 1.5em;
    right: 0.5em;
}
#password, #search {
    padding: 0.6em 2.7em 0.6em 0.6em;
}

/* Deleted Notes */

.del_b {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}